/* Fonts
/*------------------------------------------------------------*/
/*@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700|Roboto+Mono:400,700");*/

/* Reset
/* ---------------------------------------------------------- */

html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: "#aca39a";
}

.logo-container {
    text-align: center;
    max-width: 100%;
    width: auto;
}

.logo {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
}

img {
    max-width: 100%;
    width: auto;
}

h1 {
    color: maroon;
    text-align: center;
    margin: 15px 0px;
}

h2 {
    color: maroon;
    margin: 10px auto;
    max-width: 600px;
}

h3 {
    color: maroon;
    margin: 16px auto 5px auto;
    max-width: 600px;
}

p {
    margin: 8px auto 4px auto;
    max-width: 600px;
    line-height: 1.5;
    width: auto;
}

ul {
    margin: 0px auto 8px auto;
    max-width: 600px;
    line-height: 1.5;
}

ol {
    margin: 0px auto 8px auto;
    max-width: 600px;
    line-height: 1.5;
}

nav {
    margin: 8px auto 0px auto;
    max-width: 600px;
    line-height: 2.5;
}

.navigation-current {
    color: maroon;
    margin: 0 12px 0 12px;
    font-weight: 700;
}

.navigation-not-current {
    margin: 0 12px 0 12px;
}

hr {
    max-width: 600px;
    width: auto;
}
